body {
    display: grid;
    position: relative;
}

.kanit-300 {
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: normal;
}

.kanit-300-italic {
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: italic;
}

.kanit-400 {
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-600 {
    font-family: "Kanit", serif;
    font-weight: 600;
    font-style: normal;
}

/* ESTILO DEL HEADER */

header {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    width: 100%;
    min-height: 5.5rem;
}

header>h2 {
    margin-left: 1.5rem;
    font-size: 2rem;
}

.navegacion {
    display: none;
}

.hamburger-menu {
    display: grid;
    align-content: center;
    gap: 0.4rem;
    margin-right: 1.5rem;
}

.hamburger-menu>div {
    height: 0.2rem;
    width: 2rem;
    background-color: black;
    border-radius: 0.1rem;
}

/* SECCIONES */

.main-contenido {
    margin-top: 5.5rem;
}

.seccion {
    display: grid;
    align-content: center;
    padding: 0 2.5rem;
}

.seccion>h2 {
    padding: 2.5rem 0;
    font-size: 2.5rem;
    text-align: center;
}

/* SECCIÓN QUIEN SOY */
.quien-soy>p{
    font-size: 1.2rem;
}

/* SECCIÓN ESTUDIOS */

.lista-estudios{
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 2rem;
}

.elemento-estudios{
    display: flex;
    gap: 0.3rem;
    align-items: top;
}

.icono-lista{
    width: 30px;
    height: 30px;
}

.titulo-estudios{
    font-size: 1.5rem;
}

.fecha-estudios{
    font-size: 1.1rem;
}

.descripcion-estudios{
    font-size: 1.2rem;
}

/* ICONO DE WHATSAPP */

.icon-wspp {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 2rem 2rem 0;
    font-size: 2.8rem;
    color: #25D366;
}