html{
    background: black;
    color: white;
}

body {
    display: grid;
    position: relative;
}

.kanit-300 {
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: normal;
}

.kanit-300-italic {
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: italic;
}

.kanit-400 {
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-600 {
    font-family: "Kanit", serif;
    font-weight: 600;
    font-style: normal;
}

/* ESTILO DEL HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    backdrop-filter: blur(1rem);
    width: 100%;
    min-height: 5.5rem;
}

header>h2 {
    margin-left: 1.5rem;
    font-size: 2rem;
}

.navegacion {
    display: none;
}

.hamburger-menu {
    display: grid;
    align-content: center;
    gap: 0.4rem;
    margin-right: 1.5rem;
}

.hamburger-menu>div {
    height: 0.2rem;
    width: 2rem;
    background-color: white;
    border-radius: 0.1rem;
}

/* SECCIONES */

.main-contenido {
    margin-top: 5.5rem;
}

.seccion {
    display: grid;
    align-content: center;
    padding: 0 2.5rem;
}

.seccion>h2 {
    padding: 2.5rem 0;
    font-size: 2.5rem;
    text-align: center;
}

/* SECCIÓN QUIEN SOY */
.quien-soy>p{
    font-size: 1.2rem;
}

/* SECCIÓN ESTUDIOS */

.lista-estudios{
    list-style-type: none;
    display: grid;
    gap: 2rem;
}

.elemento-estudios{
    display: flex;
    gap: 1rem;
}

.icon-lista{
    width: 3rem;
    height: 3rem;
}

.titulo-estudios{
    font-size: 1.5rem;
    color: white;   
}

.fecha-estudios{
    font-size: 1.1rem;
    color: #c2c2c2;
}

.descripcion-estudios{
    font-size: 1.2rem;
    color: white;
}

/* CONTENEDOR PROYECTOS */

.proyectos-todos{
    gap: 2rem;
}

.contenedor-proyectos{
    display: flex;
    position: relative;
    border: solid white 1px;
    border-radius: 1rem;
    padding: 1rem 1rem;
    gap: 0.5rem;
}

.titulo-proyectos{
    position: absolute;
    font-size: 1.5rem;
    color: white;
    top: 0;
    transform: translateY(-50%);
    background-color: black;
    padding: 0 0.4rem;
}

.contenido-proyectos{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 12rem;
}

.contenido-proyectos>h2,
.contenido-proyectos>p{
    font-size: 1.2rem;
}

/* ICONO DE WHATSAPP */

.icon-wspp {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 2rem 2rem 0;
    font-size: 8rem;
    color: #25D366;
}